block productVars 
  - var productUpHeading = 'продукт';
  - var productHeading = 'Telegram-бот HELPER';
  - var productBtn = 'Подробнее';



section.product#product
  .container.product__container
    .product__title 
      span.product__up-heading.up-heading #{productUpHeading}
      h2.product__heading.heading #{productHeading}
    ul.product__cards 
      // каждая li - это по сути кнопка, у каждой li разные id, я их просто пронумерую
      li.product__card(tabindex='0' data-path='one')
        button.product__btn.btn #{productBtn}
      li.product__card(tabindex='0' data-path='two')
        button.product__btn.btn #{productBtn}
      li.product__card(tabindex='0' data-path='three')  
        button.product__btn.btn #{productBtn}