block productVars 
  - var productUpHeading = 'продукт';
  - var productHeading = 'Telegram-бот HELPER';
  - var productBtn = 'Подробнее';



section.product#product
  .container.product__container
    .product__title 
      span.product__up-heading.up-heading #{productUpHeading}
      h2.product__heading.heading #{productHeading}
    ul.product__cards 
      li.product__card 
        button.product__btn.btn #{productBtn}
      li.product__card 
        button.product__btn.btn #{productBtn}
      li.product__card 
        button.product__btn.btn #{productBtn}